{{#yield-body}}
<br />

  <!--<section id="customer-container">
    <div class="row">
        <div class="small-12 small-centered columns">
          <img src="/images/AJP.png">
        </div>
    </div>
 </section>-->
<div id="login" class="row vcenter">
    <!-- Remove vcenter to make the container top aligned -->
    <div class="small-12 columns">
         <div class="row">
            <div class="small-12 columns">
                <label>
                    Select City
                </label>
                <select id="cmb_city">
                    {{#city}}
                    <option class={{short_name}} value={{short_name}}>{{name}}</option>
                    {{/city}}
                </select>
            </div>

            <div class="small-12 columns">
                <label>
                    Select Restaruant
                </label>
                <select id="cmb_restaurant">
                    {{#restaurants}}
                    <option class={{city}} value={{id}}_{{mail_id}}>{{name}}</option>
                    {{/restaurants}}
                </select>
            </div>

            <div class="small columns">
                <a class="button expanded" id="btn_generate_pin">Generate Pin</a>
            </div>
        </div>

    </div>

</div>
{{/yield-body}}

{{#yield-styles}}
.log-in-form {
  border: 1px solid #cacaca;
  padding: 1rem;
  border-radius: 3px; }

{{/yield-styles}}


{{#yield-scripts}}
$('#btn_generate_pin').on('click',function(e){
var selected_city=$('#cmb_city').val();
var selected_restaurant=$('#cmb_restaurant').val();
$('#loader').show();
$.post('generate_pin', {"selected_restaurant":selected_restaurant,"selected_city":selected_city },
         function(returnedData){
         $('#loader').hide();
             $.alert({
                title: 'Notification!',
                content: returnedData,
                confirm: function(){
                    window.location.href ='/'
                }
            });

        }).fail(function(xhr,jquery,error){
         $('#loader').hide();
         console.log();
                 $.alert({
                 title: 'Notification!',
                 content:xhr.responseText
                 });
        });
})

$(document).ready(function () {
    var allOptions = $('#cmb_restaurant option')
    city_wise_restaurant();
    $('#cmb_city').change(function () {
      city_wise_restaurant();
    });

    function city_wise_restaurant()
    {
    $('#cmb_restaurant option').remove()
        var classN = $('#cmb_city option:selected').prop('class');
        var opts = allOptions.filter('.' + classN);
        $.each(opts, function (i, j) {
            $(j).appendTo('#cmb_restaurant');
        });
    }
});
{{/yield-scripts}}
